@font-face {
    src: url(fonts/Dune_Rise.ttf);
    font-family: dune;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: dune;
    font-weight: 1000;
    color: #fffbeb;
}

html, body{overflow-x: hidden;}         /*Removes white space when viewing on mobile devices*/

html {
    background-image: url(./Images/Dune.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 2em;
}

header > h1 {
    font-size: clamp(2rem, 4rem, 5vw);
}

form {
    margin: 1em 0;
    text-align: center;
}

input {
    max-width: 400px;
    text-align: center;
    font-size: clamp(0.75rem, 1vw, 4rem);
    background-color: transparent;
    padding: 1em;
    border: none;
    border-bottom: 2px solid black;
}

input:focus {
    outline: none;
}

input::placeholder {color: #fffbeb;}

.weather-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2em 5em;
}

.card {
    min-height: 400px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: clamp(0.75rem, 1vw, 4rem);
}

.time {
    font-size: 16px;
}

.weather-info-icon {
    width: 100px;
}

.image-icon {
    filter: invert(1);
    width: 100%;
    height: auto;
    margin-left: -2.5em;
}

.weather-details-container {
    color: white;
    min-width: 200px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: clamp(0.75rem, 1vw, 4rem);
}

.weather-details {
    display: flex;
    align-items: center;
}

.weather-details-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fa-solid{
    width: 1.5em;
}

.heading {text-align: center; font-size: clamp(1rem, 2vw, 4rem)}

@media (max-width: 1200px) {


    .card, .weather-details-container {
        min-height: 300px;
    }

    .weather-info-icon {
        width: 75px;
        margin-left: -0.5em;
    }
}

.daily-forecast-container {
    display: flex;
    justify-content: space-between;
    margin: 1em 5em;
    height: 15em;
    font-size: clamp(0.75rem, 1vw, 4rem);
}

.daily-forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 4px solid white;
    border-radius: 20px;
    padding: 20px;
}

.daily-forecast-temperature-min{
    font-size: 12px;
}

.daily-forecast-image {
    width: 100px;
}

.daily-forecast-image > img {
    filter: invert(1);
    width: 100%;
    height: auto;
}

@media (max-width: 867px) {
    .daily-forecast-container{
        
    }

    .daily-forecast-image {
        width: 75px;
    }
}