@font-face {
    src: url(fonts/Dune_Rise.ttf);
    font-family: dune;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: dune;
    font-weight: 1000;
}

html, body{overflow-x: hidden;}         /*Removes white space when viewing on mobile devices*/

html, body {
    background-color: crimson;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
}

header {
    text-align: center;
    padding: 2em;
}

header > h1 {
    font-size: clamp(1rem, 2vw, 3em);
}

form {
    margin: 1em 0;
    text-align: center;
}

input {
    max-width: 400px;
    text-align: center;
    font-size: clamp(0.75rem, 1vw, 4rem);
    background-color: transparent;
    padding: 1em;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

input:focus {
    outline: none;
}

.error-info {
    font-size: 12px;
    margin: 1em 0;
    color: crimson;
    display: none;
}

.error {display: block;}

input::placeholder {color: #fffbeb;}

@media (max-width: 623px) {
    form {
        margin: 0;
    }

    input {
        width: 200px;
    }
}

.weather-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2em 5em;
}

@media (max-width: 623px) {
    .weather-container {
        margin: 2em 0;
        padding: 0 2em;
    }
}

.card {
    min-height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: clamp(0.5rem, 0.75vw, 3rem);
}

.date-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.time {
    font-size: clamp(0.5rem, 1vw, 3rem);
}

.weather-conditions {font-size: clamp(0.75rem, 2vw, 4rem)}
.weather-info > span {font-size: clamp(1rem, 3vw, 4rem)}

.weather-info-icon {
    width: 100px;
}

.image-icon {
    filter: invert(1);
    width: 100%;
    height: auto;
    margin-left: -2.5em;
}

.weather-details-container {
    min-width: 200px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: clamp(0.5em, 1.2vw, 1rem);
}

.weather-details {
    display: flex;
    align-items: center;
}

.weather-details-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fa-solid{
    width: 1.5em;
}

.heading {
    text-align: center; 
    font-size: clamp(1rem, 2vw, 4rem);
}

@media (max-width: 1200px) {
    .card, .weather-details-container {
        min-height: 300px;
    }

    .weather-details-container {
        min-width: 100px;
    }

    .weather-info-icon {
        width: 75px;
        margin-left: -0.5em;
    }
}

@media (max-width: 623px) {
    .card, .weather-details-container {
        justify-content: space-evenly;
    }

    .weather-details-container {
        min-width: 100px;
    }

    .weather-container {
        margin: 1em 0;
    }

    .weather-info-icon {
        width: 50px;
    }
}

.daily-forecast-container {
    display: flex;
    justify-content: space-between;
    margin: 1em 5em;
    font-size: clamp(0.75rem, 1vw, 4rem);
}

.daily-forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid white;
}

.daily-forecast-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.daily-forecast-temperature-min{
    font-size: 12px;
}

.daily-forecast-image {
    width: 70px;
}

.daily-forecast-image > img {
    filter: invert(1);
    width: 100%;
    height: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

a {
    text-decoration: none;
    outline: none;
    color: rgba(220, 20, 60, 0.486);
    transition: 0.3s;
}

a:hover {color: crimson;}

@media (max-width: 1200px) {
    .daily-forecast{
        height: 15em;
        justify-content: space-evenly;
    }
}

@media (max-width: 867px) {
    .daily-forecast{
        padding: 5px;
        justify-content: space-around;
        height: 15em;
    }

    .daily-forecast-image {
        width: 75px;
    }
}

@media (max-width: 623px) {
    .daily-forecast-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .daily-forecast{
        flex-direction: row;
        border: none;
        justify-content: space-between;
        width: 300px;
        height: auto;
    }

    .daily-forecast-temperature-min {
        font-size: 8px;
    }

    .daily-forecast-template {
        display: flex;
        flex-direction: row;
    }

    .daily-forecast-image {
        width: 50px;
    }
}